[submodule "crypto_arbitrage_bot"]
	path = crypto_arbitrage_bot
	url = https://github.com/whoshuu/cpr-example
[submodule "crypto_arbitrage_bot/PicoSHA2"]
	path = crypto_arbitrage_bot/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
